[Unit]
Description=Start/stop nbox-rrd service
After=network.target syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/node /usr/share/nbox/script/nbox-rrd-store.js
Restart=on-failure

[Install]
WantedBy=multi-user.target

